.logo
    width: 70%
    height: 70%
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%,-50%)

#arrow
    margin-top: 35%
    font-size: 4em
    text-decoration: none
    color: $japanese-indigo
