#nav
    background-color: inherit 
    color: $japanese-indigo
    font-family: $font-type
    padding-right: 2em
    a 
        color: inherit
        font-size: 1.5em
        &:hover
            color: $buff