// **************************
// COLOUR VARIABLES
// **************************



//**************************
// BREAKPOINT VARIABLES
//**************************

$breakpoint-desktop: 1200px
$breakpoint-laptop: 950px
$breakpoint-tablet: 768px
$breakpoint-mobile: 400px
$break-small: 899px
$break-large: 900px


//**************************
// TYPOGRAPHY VARIABLES
//**************************

$font-type: 'Open sans', sans-serif
$font-type-alt: 'Dosis', sans-serif


$font-light: 300
$font-normal: 400
$font-medium: 600
$font-bold: 800
